/* Zmiana stylu przycisków */
.stButton button {
    text-decoration: none;
    color: white !important;
    font-weight: 500;
    font-size: 200px; /* Dodany rozmiar czcionki */
}

.stButton button:hover {
    color: #d33682 !important;
    text-decoration: none;
}

/* Zachowanie istniejących stylów dla innych elementów */
ul {list-style-type: none;}

hr {
    margin-top: 0;
    margin-bottom: 0%;
}

#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}